@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');
*{
    margin: 0;
}
body{
    font-family: 'Heebo', sans-serif;
}
#all{
    background-color: white;
    height: 100vh;
    transition: all 0.5s ease-in;
    vertical-align: none;
}
#app{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.needle{
    transform-origin: bottom right;
    position: absolute;
}
.clock{
    transform: rotate(90deg);
    margin-bottom: 45vh;
    background-color: red;
}
.hour{
    width: 145px;
    height:3px;
    background-color:#333;
    transform: translate(-50%, -100%) rotate(0deg);
}
.minute{
    width: 145px;
    height:2px;
    background-color:#666;
    transform: translate(-50%, -100%) rotate(0deg);
}
.second{
    width: 145px;
    height:1px;
    background-color: #e74c3c;
    transform: translate(-50%, -100%) rotate(0deg);
}
.cp{
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: white;
    border: 2px solid #e74c3c;
    height: 8px;
    width: 8px;    
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: 22.5vh;
    margin-top: 0.2vh;
    border-radius: 50%;
    transform: translate(-50%, -100);
}
#day, #month, #year, #dayname{
    padding: 2vh;
    font-size: 5vh;
}
#date{
    text-align: center;
    justify-content: center;
    align-items: center;
    color:black;
    display:flex;
    flex-direction: row;
  }
.span1{
    font-size: 5vh;
    padding: 1vh;
}
#h, #m, #s, .span{
    font-size: 5vh;
    padding: 1vh;
}
#clk{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nightm{
    padding-top: 55vh;
    text-align: center;
}
