body{
    background-color: rgb(252, 244, 230);
}
#app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i{
    font-size: 10vh;
    color: white;
    margin-top: 35vh;
    visibility: hidden;
}
#img{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    text-align: center;
    height: 80vh;
    width: 25vw;
    background-image: url('https://images.unsplash.com/photo-1444090542259-0af8fa96557e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    z-index: -1;
}
#counter{
    text-align: center;
    padding: 2vh;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1vh;
    border-radius: 5px;
    border: 2px solid lightsalmon;
    background-color: white;
}
@keyframes like-heart-animation {
    0%,
    to {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    15% {
      opacity: 0.9;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    30% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
    45%,
    80% {
      opacity: 0.9;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
