*{
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    transition: 0.4s ease;
    background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.7);
}
.slide-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}
.slide{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition:0.4s ease;
}
.slide.active{
    opacity: 1;
}
.arrow {
    position: fixed;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    font-size: 30px;
    top: 50%;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
}
.arrow:focus {
    outline: 0;
}
  
.left-arrow {
    left: calc(15vw - 65px);
}
  
.right-arrow {
    right: calc(15vw - 65px);
}
